.header-main{
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--color-2);
    padding: 8px 30px 0 30px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}
.header-left_item{
    margin-right: 18px;
    position: relative;
}
.header-left_item-note{
    position: absolute;
    min-width: 200%;
    padding:0 2px;
    top: 35px;
    background-color: var(--color-4);
    border-radius: 4px;
    height: auto;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2;
}
.header-left_item-note p{
    color: white;
    font-weight: 600;
    line-height: 0.2rem;
    width: 100%;
    text-align: center;
}
.header-left_link{
    font-size: 1.8rem;
    color: var(--color-1);
}
.header-logo{
    width: 40px;
    height: 40px;
}
.header_name-app{
    color: var(--color-3);
}
.header-right{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.header-right_item{
    margin-left: 18px;
    position: relative;
}
.header_right-bell{
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--color-1);
}
.header-right_link-avta{
   cursor: pointer;
}
.header-avata{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header_link-hover:hover{
    color: var(--color-3);
}
.header_link-active{
    color: var(--color-3);
}
.header-left_item:hover .header-left_item-note{
    display: block;
}

/* -------------account */
.header_account{
    background-color: var(--color-5);
    position: absolute;
    right: 0;
    top: 50px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
    min-width: 230px;
    padding: 12px 22px;
    border-radius: 8px;
    display: none;
    animation: fadeScale ease .3s;
    transform-origin: 90% top;
    z-index: 2;
}
.header_account-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-6);
}
.header_account-header_name{
    font-size: 1.6rem;
    margin-left: 12px;
    color: var(--color-3);
    font-weight: 500;
}
.header_account-body{
    margin: 0;
    list-style: none;
    padding: 12px 0 0 0;
}
.header_account-body_item{
    padding: 8px 0;
    cursor: pointer;
}
.header_account-body_item-text{
    font-size: 1.6rem;
    color: var(--color-1);
}
.header_account-body_item:hover .header_account-body_item-text{
    color: var(--color-7);
}
.cb_header_account:checked ~.header_account{
    display: block;
}

.hidden_forpermission{
    display: none;
}