.login-app{
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    display: block;
    padding-top: 20vh;
}
.box-main{
    position: relative;
    display: block;
    background-color: var(--box-main);
    width: 700px;
    height: 300px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
}

.box-left{
    position: absolute;
    top: 30px;
    left: 30px;
    display: block;
    padding: 32px;
}
.name-app{
    font-weight: 600;
    font-size: 4.2rem;
    color: var(--text-color-1);
}
.Login{
    text-align: center;
    font-size: 3.2rem;
    line-height: 5.2rem;
    color: var(--text-color-2);
}
.box-right{
    display: block;
    position: absolute;
    height: 120%;
    width: 50%;
    background-color: var(--box-color-children);
    right: 0;
    top: -30px;
}
.box-right form{
    height: 100%;
    padding:80px 50px;
}
.box-right_inputgroup{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 22px auto;
    
}
.box-right_inputgroup label{
    font-size: 2.2rem;
    color: var(--text-color-3);
}
.box-right_inputgroup input{
    flex: 1;
    margin-left: 12px;
    outline: none;
    border: none;
    height: 32px;
    padding: 0 12px;
    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: 500;
}

.btn-login{
    display: block;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color-3);
    background-color: rgb(226, 87, 87);
    width: 150px;
    height: 32px;
    margin: auto;
    margin-top: 45px;
    border-radius: 4px;
    text-align: center;
}

.btn-login:hover{
    background-color:rgb(214, 57, 57);
}
.box-right_error{
    color: var(--text-color-2);
    font-weight: 500;
    font-size: 1.2rem;
}
.btn-eyes{
    width: 25px;
    height: 15px;
    background-color: rgb(252, 252, 252);
    cursor: pointer;
    border-radius: 40%;
}
.btn-eyes i{
    color: rgb(25, 26, 23);
}